*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Gilroy", sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;

    // @include xxl {
    //     max-width: 1533.5px;
    // }

    // @include xl {
    //     max-width: 1140px;
    // }

    // @include lg {
    //     max-width: 1140px;
    // }

    // @include md {
    //     max-width: 990px;
    // }

    @include sm-up {
        min-width: 540px;
    }
}

ul {
    list-style: none;
    a {
        text-decoration: none;
    }
}
