/* Hero */
.hero {
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: url(../assets/img/wave.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &__logo {
        display: block;
        max-width: 127px;
        padding: 20px 0;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 6rem 0;
    }

    &__content {
        flex: 0 0 605px;
        color: $brand-white;

        h1 {
            font-size: 56px;
            font-weight: 700;
            line-height: 60px;
            margin: 0 0 37.5px;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 34px;
            margin: 0 0 38px;
        }

        ul {
            li {
                display: inline-block;
                &:first-child {
                    margin: 0 48px 0 0;
                }
            }
        }
    }

    &__img {
        flex: 0 0 728.5px;
        img {
            display: block;
            width: 728.5px;
            height: 540px;
            object-fit: contain;
        }
    }
}

/* Features */
.features {
    padding: 100px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        text-align: center;
        padding: 0 25px;
        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }

        figcaption {
            h4 {
                font-size: 22px;
                color: $brand-200;
                line-height: 32px;
                margin: 0 0 25px;
            }

            p {
                font-size: 18px;
                font-weight: 400;
                line-height: 30px;
            }
        }
    }
}

/* Contact */
.contact {
    padding: 100px 0;
    h2 {
        text-align: center;
    }

    .form {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 4rem;

        box-shadow: 0px 50px 90px -16px rgba(25, 20, 51, 0.1);
        background-color: $brand-white;
        border-radius: 8px;

        display: flex;
        flex-wrap: wrap;

        &__group {
            position: relative;
            flex: 1 1 calc(50% - 20px);
            margin: 10px;

            label {
                position: absolute;
                left: 25px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:last-child {
                flex-basis: 100%;
                text-align: center;

                input[type="submit"] {
                    font-size: 16px;
                    font-weight: 400;
                    border-radius: 8px;
                    background-color: $brand-200;
                    color: $brand-white;
                    padding: 1rem;
                }
            }

            &--select {
                &::after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    position: absolute;
                    right: 25px;
                    top: 50%;
                    transform: translateY(-50%);

                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-image: url(../assets/img/select-arrow.svg);
                }
            }
        }
        &__control {
            display: block;
            box-shadow: 0px 1px 2px rgba(0, 51, 99, 0.08);
            border-radius: 8px;

            width: 100%;
            padding: 1rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1;
            color: $brand-light;
            background-color: $brand-white;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
}
